.about {
  max-width: 40rem;
  margin: 9rem auto 0rem auto;
  background-color: rgb(var(--black-color));
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
}

.about__img-container {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: -6rem;
  left: 38%;
  padding: 1px;
  box-sizing: content-box;
  background-color: rgba(var(--purple-color), 0.2);
  border-radius: 40rem;
  cursor: pointer;
  margin: auto;
}
.about__img {
  width: inherit;
  height: inherit;
  border-radius: 40rem;
}

.about__text {
  margin-top: 3.5rem;
}
.about__title {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
  width: 20rem;
  margin: auto;
  font-weight: bold;
  color: rgb(var(--purple-color));
}

.about__description {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  color: rgb(var(--white-color));
  padding: 1rem;
}

.about__telephone {
  font-size: 1.25rem;
  text-align: center;
  color: rgb(var(--purple-color));
}

.about__icons {
  text-align: center;
}

.about__social:not(.about__social:first-child) {
  margin-left: 1rem;
}

.about__social {
  margin-top: 1rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 640px) {
  .about {
    padding: 0.25rem;
    margin: 9rem 1rem 5rem 1rem;

  }
  .about__img-container {
    left: 27%;
    top: -7rem;
  }
  .about__description {
    padding: 0.25rem;
  }
}
