.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  margin: 10rem auto;
  border-radius: 0.25rem;
}

/* .question__img-container {
  max-width: inherit;
  max-height: 50%;
}
.question__img {
  max-width: inherit;
  max-height: inherit;
  object-fit: contain;
} */

.question__text {
  background-color: rgb(var(--black-color));
  color: rgb(var(--white-color));
  padding: 1rem;
  box-sizing: content-box;
  font-weight: bold;
  border-radius: 0.25rem;
}

.question__title {
  color: rgb(var(--white-color));
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 30rem;
  height: 8rem;
  display: grid;
  align-items: center;
  text-align: center;
}

.question__options {
  display: flex;
  justify-content: center;
}

.question__options > button {
  margin-left: 1rem;
}

@media only screen and (max-width: 640px) {
  .question-container {
  margin: 4rem auto;
    box-sizing: content-box;
    width: 20rem;
    padding-bottom: 2rem;
  }
  .question__title {
    width: 20rem;
  height: 8rem;
  }
}
