@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trocchi&display=swap");
:root {
  --gold-color: 185, 138, 72;
  --black-color: 23, 23, 22;
  --cream-color: 215, 198, 172;
  --purple-color: 236, 5, 142;
  --white-color: 255, 255, 255;
}

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
a,
u {
  text-decoration: none;
  color: black;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(var(--black-color));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--purple-color), 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--purple-color), 0.2);
}
body {
  background: url("../public/imgs/htmlb.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.slogan {
  margin: 0 20rem;
  font-size: 1.7rem;
  text-align: center;
  font-family: "Trocchi", serif;
  letter-spacing: 0.25rem;
  color: rgba(var(--white-color), 0.5);
}

.slogan:hover {
  color: rgba(var(--gold-color), 1);
  text-shadow: rgba(var(--gold-color), 0.5) 0px 6px 24px 0px,
    rgba(var(--gold-color), 0.5) 0px 0px 0px 1px;
}

.btn {
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  width: 5rem;
  cursor: pointer;
}

.btn-success {
  background-color: green;
  color: rgb(var(--white-color));
}

.btn-danger {
  background-color: red;
  color: rgb(var(--white-color));
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  z-index: 9999;
}

.hidden {
  position: absolute;
  left: 33rem;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  z-index: 9999;
}
